.wipop-confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.wipop-modal-content {
    position: relative;
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 25rem;
    width: 90%;
    text-align: center;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.25);
}

.wipop-modal-content button {
    margin: 1rem 0.5rem 0 0.5rem;
}

.wipop-cancel {
    background-color: #fff;
    border: 1px solid #888;
    color: #888;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wipop-cancel:hover {
    background-color: #888;
    color: #fff;
}

.wipop-confirm {
    background-color: #007cba;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wipop-confirm:hover {
    background-color: #006ba1;
}

#wipop-confirm-msg {
    font-size: 1.125rem;
    line-height: 1.6;
    font-weight: 500;
}

.wipop-close {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    font-size: 1.25rem;
    color: #888;
    cursor: pointer;
    z-index: 1;
    transition: color 0.2s ease;
}

.wipop-close:hover {
    color: #858585;
}

.wipop-fade-out-modal {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 200ms ease, transform 200ms ease;
}

.wipop-toast-error {
    position: fixed;
    top: 4rem;
    right: 1rem;
    background: #f7f8fa;
    color: #2e4453;
    padding: 1rem 1.2rem;
    border-left: 0.25rem solid #96588a;
    border-radius: 0.375rem;
    box-shadow: 0 0.25rem 0.75rem rgba(46, 68, 83, 0.1);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.95rem;
    z-index: 10000;
    max-width: 20rem;
    animation: fadeIn 0.5s ease-out;
}

.wipop-toast-error strong {
    display: block;
    margin-bottom: 0.3em;
    font-weight: 600;
    color: #96588a;
}

.wipop-toast-inner {
    padding: 0.5em;
}

.wipop-fade-out-toast {
    opacity: 0;
    transform: translateY(-0.625rem);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-0.625rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
