parameters:
    level: 4
    paths:
        - admin
        - core
        - gateways
        - src
        - tests
        - wipop.php
    excludePaths:
        analyseAndScan:
            - build/*
            - node_modules/*
            - vendor/*
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: true
    checkImplicitMixed: true
    tmpDir: var/phpstan
    bootstrapFiles:
        - phpstan-bootstrap.php
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
