parameters:
    level: max
    paths:
        - admin
        - core
        - gateways
        - src
        - tests
        - wipop.php
    excludePaths:
        analyseAndScan:
            - build/*
            - node_modules/*
            - vendor/*
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: true
    checkImplicitMixed: true
    tmpDir: var/phpstan
